.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: #1fa6dc;
    border: none;
    box-shadow: none !important;
  }
  
  .fc .fc-button-group > .fc-button {
    background-color: #1fa6dc;
    border: none;
    box-shadow: none !important;
  }
  
  .fc .fc-button:not(:disabled) {
    background-color: #1fa6dc;
    border: none;
    box-shadow: none !important;
  }
  
  .fc .fc-button {
    background-color: #1fa6dc;
    border: none;
    box-shadow: none !important;
  }
  
  .fc .fc-col-header-cell-cushion {
    color: #1fa6dc;
    text-decoration: none;
  }
  
  .fc .fc-daygrid-day-number {
    color: #1fa6dc;
    text-decoration: none;
  }
  
  .fc-daygrid-day-top {
    text-decoration: none;
  }
  
  .fc-event-title, .fc-event-time, .fc-daygrid-dot-event {
    color: #1fa6dc;
  }
  
  .dt-button .buttons-copy .buttons-html5{
    border: 2px #1fa6dc solid;
  }
  
  .fc .fc-toolbar-title {
    color: #1fa6dc;
    font-weight: bold;
  }